name: Compose Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
  
      - name: SSH into ec2 and deloy docker compose 
        uses: appleboy/ssh-action@v0.1.3
        script: |
          cd /home/ubuntu/docker-demo-project
          git pull origin main
          docker compose down -v
          docker compose up -d --build