name: Self hosted runner Workflow

on:
  push:
    branches:
      [main]
    workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, linux, x64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: env file for app
        run: |
          cat <<EOF > .env
          DB_HOST=db
          DB_USER=app_user
          DB_PASSWORD=app_password
          DB_NAME=demodb
          MYSQL_ROOT_PASSWORD=rootpassword
          MYSQL_DATABASE=demodb
          EOF

      # - name: Cleanup old containers and volumes
      #   run: |
      #     docker compose down -v

      - name: Set backend version
        run: echo "BACKEND_VERSION=$(date +%s)" >> $GITHUB_ENV

      - name: Build docker images
        run: |
          docker compose build backend

      - name: Rolling update backend service
        run: |
          docker compose up -d --no-deps --scale backend=2 backend

      - name: wait for backend to be healthy
        run: |
          for i in {1..15}; do
            curl -f http://localhost:9000/health && exit 0
            sleep 5
          done
          exit 1

      - name: run other containers
        run: |
          docker compose up -d
      - name: List running containers
        run: |
          docker ps

      - name: Down the old backend container
        run: |
          docker compose up -d --no-deps --scale backend=1 backend

      - name: container logs
        run: |
          docker compose logs nginx
          docker compose logs backend
          docker compose logs db